* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  display: grid;
  height: 99vh;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "header header header header "
    "section section section section"
    "footer footer footer footer";
}

header {
  grid-area: header;
  background-color: #8dc3d8;
  margin-top: 0.1em;
  margin-left: 0.5em;
  margin-right: 1.5em;
}

section {
  grid-area: section;
  margin-top: 1em;
  margin-left: 0.2em;
  margin-right: 1em;
}

footer {
  grid-area: footer;
}
